root = true

[*.{kt,kts}]
ktlint_code_style = ktlint_official
ktlint_function_naming_ignore_when_annotated_with = Composable,Preview,Test
# Enforce single imports (no wildcard)
ij_kotlin_packages_to_use_import_on_demand =
ij_kotlin_name_count_to_use_star_import = 99

